#container{
    display: flex;
    align-items: center;
    margin: auto;
}

#last{
    margin-top: 1em;
    margin: auto;
}

.box{
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

#last{
    margin-top: 1em;
    margin: auto;
    background-color: blue;
}