#container{
    width: calc(400px + 1em);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1em;
}

.box{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    transition: 1s ;
}

.toGreen{
    background-color: lightgreen;
    transform: rotate(0) scale(1);
}

.toRed{
    background-color: red;
    transform: rotate(360deg) scale(0.9); 
}
